.z_logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 120px; 
}

#logos {
    text-align:center;
}

#centered {
    text-align:center;
}

div.zoe_page {
	margin: 10px 25% 10px 15%;
	width: 70%;
	border-radius: 5px;
	border: 5px solid whitesmoke;
	padding: 10px 10px 5px 5px;
	page-break-inside: avoid;
}

div.zoe_page h2 {
	margin: 5px;
	background-color: black;
	color: white;
	margin: 5px;
	padding: 5px;
}

.zoe_hidden {
	display:none;
}

.zoe_page div ul { 
	display: table;
	width: 50%;
	margin-left: 25%;
}

.zoe_page div ul li { 
	display: table-cell;
	width: 50%;
	padding: 10px;
}

div.group {
	display: table;
	width: 95%;
	margin-left: 2.5%;
}

div.group div.row {
	display: table-row;
}

div.group div.row div {
	display: table-cell;
	margin: 0px;
	padding: 0px;
}

div.group div.row div p {
	margin: 0px;
	padding: 0px 15px;
}

div.zoe_row_label div.label {
	text-align: center;
	padding: 5px;
}

div.zoe_row_label~div.option {
	text-align: center;
	padding: 5px;
}

div.zoe_col_label div.label {
	text-align: center;
	padding: 5px;
}

div.zoe_col_label div.option {
	text-align: center;
	padding: 5px;
}

div.zoe_question div.option {
	text-align: center;
	padding: 5px;
}

/* *
 * BEGIN: Tablas horizontales
 * */
table.zoe, table.zoe th, table.zoe td {
	border: 1px solid black;
}

table.zoe td {
	text-align: center;
	vertical-align: middle;
}

table.zoe tr:first-child th {
	text-align: center;
	padding-left: 5px;
}

table.zoe tr th {
	text-align: left;
	padding-left: 15px;
	padding-right: 5px;
}

/* END: Tablas horizontales */

/* *
 * BEGIN: Tablas transpuestas
 * */
div.zoe_transpose div.option {
	display:table-row !important;
}
div.zoe_transpose div.option .zoe_label {
	text-align: left !important;
}
div.zoe_transpose div.option .zoe_option {
	text-align: center !important;
}

/* END: Tablas horizontales */

div.zoe_char {
	display: table-row;
}

div.zoe_char p {
	display: table-cell;
}

div.zoe_char input {
	display: table-cell;
}

div.zoe_checkbox {
	display: table;
}

div.zoe_checkbox p {
	display: table-cell;
}

div.zoe_checkbox input {
	display: table-cell;
}

div.zoe_section_description {
	margin: 15px;
	text-align:justify;
	text-justify:inter-word;
	padding: 5px;
	border-top:1px solid #313030;
}

div.zoe_selectone+.zoe_char p {
	display: inline-block;
	padding: 5px;
}

div.zoe_selectone+.zoe_char input {
	display: inline-block;
	padding: 5px;
}

div.zoe_hidden {
	display: none;
}

/*
 * BEGIN: Year
 */
div.zoe_year {
	display: table-row;
}

div.zoe_year p {
	display: table-cell;
}

div.zoe_year input {
	display: table-cell;
}
/*
 * END: Year
 */


/*
 * BEGIN: Fullscreen
 */
.zoe_full_screen {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 10000;
	left: 0px;
	top: 0px;
}
/*
 * END: Fullscreen
 */


