.openerp .oe_list_content th.oe_sortable, .openerp .oe_list_content th.oe_sortable div [datafield=code] {
	width: 100px;
}
.openerp .oe_list_content th.oe_sortable, .openerp .oe_list_content th.oe_sortable div [datafield=name] {
	width: 500px;
}
.openerp .oe_list_content th.oe_sortable, .openerp .oe_list_content th.oe_sortable div [datafield=input] {
	width: 200px;
}
.openerp .oe_list_content th.oe_sortable, .openerp .oe_list_content th.oe_sortable div [datafield=message] {
	width: 200px;
}
